.text-section {
  position: relative;
  overflow: visible;
  max-width: 1248px;

  .title {
    width: 75%;
  }
  .rich-text {
    padding: 1rem 0;
    > p {
      line-height: 1.8;
    }
  }

  a {
    color: $color--secondary;
    transition: color .2s ease;
    &:hover {
      color: darken($color--secondary, 10%);
    }
  }
}
