/// OVERWRITE LORISS VARIABLES

/// ----------
/// FONTS
/// ----------
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');
$font-family-serif: 'Roboto Slab', serif !default;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
$font-family-sans-serif: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
$font-family-cursive: 'Great Vibes', cursive;

/// ----------
/// COLORS
/// ----------
$color--main: #6CA4C8 !default;
$color--secondary: #B88A9F !default;
$color--dark: #121F1F !default;

/// DEFINE LOCAL VARIABLES
$color--grey: #F9F8F7;