@import '~loris-ui.portfolio/dist/index.scss';

.buy-page--text,
.contact-page--text {
  .title {
    width: 100%;
    @include breakpoint("md") {
      width: 40%;
    }
  }
}

.buy-page--card {
  .heading {
    font-family: $font-family-serif !important;
    font-weight: $font-weight-heavy;
    h4 {
      font-size: 1.5rem;
    }
  }

  .card-details {
    font-weight: $font-weight-heavy;
    &:nth-child(1) {
      margin-bottom: 1rem;
    }
  }
}

.contact-page {
  .text-section,
  .icons-list {
    padding-bottom: 1.5rem !important;
  }
}

.buy-page .card-block {
  margin-top: -3rem;
}

.event-card {
  .more-details {
    margin-top: .5rem;
    font-family: $font-family-serif;
    font-size: $font-size-lead;
    color: $color--main;
    transition: color .2s ease;
    &:hover {
      color: darken($color--main, 10%);
    }
  }
}

.event__date {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: $font-weight-heavy;
  color: $color--main;
}
.event__time,
.event__postcode {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  font-weight: $font-weight-heavy;
  img {
    width: 1.5rem;
    height: auto;
    margin-right: .5rem;
  }
  a {
    color: $color--secondary;
    transition: color .2 ease;
    &:hover {
      color: darken($color--secondary, 10%);
    }
  }
}