@import "./library/index.scss";

.buy-page--text,
.contact-page--text {
  .title {
    width: 100%;
    @include breakpoint("md") {
      width: 40%;
    }
  }
}

.product-type__controls {
  display: flex;
  flex-direction: column;
  @include breakpoint("md") {
    flex-direction: row;
  }
  justify-content: flex-start;
  margin: 1rem auto 2rem;

  button {
    padding: 1rem;
    margin-right: 1rem;
    background: none;
    border: none;
    border-radius: 0.25rem;
    background-color: $color--light;
    text-transform: uppercase;
    text-decoration: underline;
    color: $color--secondary;
    font-family: $font-family-serif;

    width: 100%;
    @include breakpoint("md") {
      width: unset;
    }

    cursor: pointer;
    &:hover {
      color: darken($color--secondary, 10%);
    }
    &:focus {
      outline: none;
    }

    transition: color 0.2s ease-out, background 0.2s ease-out;
  }

  button.active {
    color: $color--light;
    background-color: $color--secondary;
    text-decoration: none;
    &:hover {
      background-color: darken($color--secondary, 10%);
    }
  }
}

.buy-page--card {
  max-width: 32%;
  margin: 1rem 0 !important;
  @include breakpoint("md") {
    margin: 1rem !important;
  }
  .heading {
    font-family: $font-family-serif !important;
    font-weight: $font-weight-heavy;
    h4 {
      font-size: 1.5rem;
    }
  }

  .card-details {
    font-weight: $font-weight-heavy;
    &:not(:nth-last-child(1)) {
      margin-bottom: 1rem;
    }
  }
}

.contact-page {
  .text-section,
  .icons-list {
    padding-bottom: 1.5rem !important;
  }
}

.buy-page .card-block {
  margin-top: -3rem;
}

.event-card {
  .more-details {
    margin-top: 0.5rem;
    font-family: $font-family-serif;
    font-size: $font-size-lead;
    color: $color--main;
    transition: color 0.2s ease;
    &:hover {
      color: darken($color--main, 10%);
    }
  }
}

.event__date {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: $font-weight-heavy;
  color: $color--main;
}
.event__time,
.event__postcode {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: $font-weight-heavy;
  img {
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
  }
  a {
    color: $color--secondary;
    transition: color 0.2 ease;
    &:hover {
      color: darken($color--secondary, 10%);
    }
  }
}

.image-focus {
  margin-bottom: 2rem;
}

.page-404 {
  .page-wrapper {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    p {
      max-width: 16rem;
      margin-top: 2rem;
      line-height: 1.8;
      text-align: center;

      span {
        font-weight: 700;
        color: $color--secondary;
        font-size: $font-size-lead;
      }
    }
  }
}

.galleries-page {
  .title {
    margin-left: 2rem;
    text-transform: capitalize;
  }
}

blockquote,
.quote {
  overflow: hidden;
}

button#scroll-to-anchor {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  background: none;
  border: none;
  color: $color--main;
  font-family: $font-family-serif;
  font-size: $font-size-lead;
  text-decoration: underline;

  &:focus {
    outline: none;
    background-color: rgba($color--main, 0.1);
  }
}
